<!DOCTYPE html>

<html>

{% include head.html %}

<body>

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}
  <!-- mailchimp code -->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us8.list-manage.com","uuid":"907b725f631a6eccfeb91e5aa","lid":"a29abff9fd","uniqueMethods":true}) })</script>
<!-- mailchimp code end -->
</body>

</html>
